<div class="box">
  <div class="row-fluid">
    <div class="span8"><h2>邀请列表</h2></div>
    <div class="span4" style="text-align:right"><%= link_to "添加邀请", new_invite_path, :class => "btn btn-success" %></div>
  </div>

  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>邀请者</th>
      <th>被邀请者</th>
      <th>邀请码</th>
      <th>是否激活</th>
      <th>邀请时间</th>
      <th></th>
    </tr>
  
    <% @invites.each do |invite| %>
    <tr>
      <td><%= invite.id %></td>
      <td><%= render_invite_user_name(invite) %></td>
      <td><%= invite.invitee_email %></td>
      <td><%= invite.code %></td>
      <td><%= render_invite_active_status(invite) %></td>
      <td><%= invite.created_at %></td>
      <td><%= link_to '激活', active_invite_path(invite), :class => "btn btn-mini", :method => :put %></td>
    </tr>
    <% end %>
  
  </table>
  <div style="text-align:center;"><%= will_paginate @invites %></div>
</div>

