<div class="box">
  <div class="row-fluid">
    <div class="span8">
      <div class="row-fluid">
        <div class="span3">
          <h2>判例列表</h2>
        </div>
      
        <div class="span2 navbar-text">
          <% if @total %>
            共找到<%= @total %>条
          <% end %>
        </div>
      
        <div class="span7">
          <form class="form-search pull-right" action="/search/cases" method="get">
            <div class="input-append">
                <input type="text" class="input-large search-query" name="q" value="<%= params[:q] %>" placeholder="搜索"/>
                <button type="submit" class="btn">搜索</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="span4"><%= link_to '新建判例', new_case_path, class: "btn btn-primary pull-right" %>
    </div>
  </div>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th>标题</th>
      <th>所属案由</th>
      <th>所属法院</th>
      <th>判例类别</th>
      <th>发布日期</th>
      <th>#</th>
    </tr>
  
    <% @cases.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= link_to truncate(c.title, length: 10), c %></td>
      <td><%= c.anyou_name %></td>
      <td><%= c.court %></td>
      <td><%= c.case_type %></td>
      <td><%= c.created_at %></td>
      <td>
          <%= link_to 'Edit', edit_case_path(c), class: "btn btn-mini" %> 
          <%= link_to 'Delete', case_path(c), :method => :delete, confirm: "你确定要删除吗？", class: "btn btn-danger btn-mini" %>
      </td>
    </tr>
    
    <% end %>
  
  </table>
  
  <%= will_paginate @cases %>
  
</div>

