<!DOCTYPE html>
<html>
<head>
  <title>法信 - 专业的律师工具平台</title>
  <%= stylesheet_link_tag    "front" %>
  <%= yield :styles %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to("法信", root_path, :class => "brand")%>
        <ul class="nav">
          <li><%= link_to "首页",  root_path %></li>
          <li><%= link_to "类别",  law_types_path %></li>
          <li><%= link_to "法律",  laws_path %></li>
          <li><%= link_to "判例",  cases_path %></li>
          <li><%= link_to "案由",  anyous_path %></li>
          <li><%= link_to "纠错",  reports_path %></li>
          <li><%= link_to "激活码",  active_codes_path %></li>
          <li><%= link_to "购买记录",  purchases_path %></li>
          <li><%= link_to "用户信息",  users_path %></li>
          <li><%= link_to "邀请信息",  invites_path %></li>
        </ul>
        <div class="navbar-text pull-right">
          <% if current_user %>
          <%= current_user.email %> <%= link_to '退出登录', logout_path %>
          <% else %>
          <%= link_to '登录', login_path, :class => "btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <%= notice_message %>
    <%= yield %>
  </div>
  
  
  
  
  <%= javascript_include_tag "application" %>
  <%= yield :scripts %>


</body>
</html>
